# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other stuff
firefuse
CMakeCache.txt
install_manifest.txt
FireFuse.h
CMakeFiles/*
*.cmake
Makefile
